[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
jupyter = "*"

[packages]
requests = "*"
pandas = "*"
scikit-learn = "*"
keras = "*"
tensorflow = "*"
numpy = "*"
pydicom = "*"
scikit-image = "*"

[requires]
python_version = "3.7"
